registry=https://pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/:_password=ZW5hcmtra3ZtbWhydDZuZzR6dXZnYmNlbm1oZnhvbTVtbnZoZ3hmZHVodXpjMzNiY2U0YQ==
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/:username=JT-Ops
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/:_password=ZW5hcmtra3ZtbWhydDZuZzR6dXZnYmNlbm1oZnhvbTVtbnZoZ3hmZHVodXpjMzNiY2U0YQ==
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/:username=JT-Ops
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/:_password=ZW5hcmtra3ZtbWhydDZuZzR6dXZnYmNlbm1oZnhvbTVtbnZoZ3hmZHVodXpjMzNiY2U0YQ==
//pkgs.dev.azure.com/JT-Ops/_packaging/JT/npm/:email=npm requires email to be set but doesn't use the value
; end auth token